<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>controller.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>controller.ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetails</servlet-name>
        <servlet-class>controller.ViewProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerProfile</servlet-name>
        <servlet-class>controller.ViewCustomerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addShoppingCart</servlet-name>
        <servlet-class>controller.addShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShoppingCart</servlet-name>
        <servlet-class>controller.ViewShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>controller.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCalculate</servlet-name>
        <servlet-class>controller.PaymentCalculate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPayment</servlet-name>
        <servlet-class>controller.ConfirmPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>controller.AddOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>controller.DeleteCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/customer/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/customer/ViewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetails</servlet-name>
        <url-pattern>/customer/ViewProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerProfile</servlet-name>
        <url-pattern>/customer/ViewCustomerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addShoppingCart</servlet-name>
        <url-pattern>/addShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShoppingCart</servlet-name>
        <url-pattern>/customer/ViewShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCalculate</servlet-name>
        <url-pattern>/customer/PaymentCalculate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPayment</servlet-name>
        <url-pattern>/customer/ConfirmPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/customer/AddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/DeleteCart</url-pattern>
    </servlet-mapping>
    
    <!-- Login Module -->
    <servlet>
        <servlet-name>StaffLogin</servlet-name>
        <servlet-class>Servlets.StaffLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffLogin</servlet-name>
        <url-pattern>/staffLogin</url-pattern>
    </servlet-mapping>
    
    <!-- Retrieve Module -->
    <servlet>
        <servlet-name>RetrieveRecord</servlet-name>
        <servlet-class>controller.RetrieveRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetrieveRecord</servlet-name>
        <url-pattern>/RetrieveRecord</url-pattern>
    </servlet-mapping>
    
    <!-- Add Staff -->
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controller.AddStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    
    <!-- Check Password Requirement -->
    <servlet>
        <servlet-name>Password</servlet-name>
        <servlet-class>controller.CheckPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Password</servlet-name>
        <url-pattern>/Password</url-pattern>
    </servlet-mapping>
    
    <!-- Save Staff -->
    <servlet>
        <servlet-name>SaveStaff</servlet-name>
        <servlet-class>controller.SaveStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveStaff</servlet-name>
        <url-pattern>/SaveStaff</url-pattern>
    </servlet-mapping>
    
    <!-- Edit Staff -->
    <servlet>
        <servlet-name>EditStaff</servlet-name>
        <servlet-class>controller.EditStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStaff</servlet-name>
        <url-pattern>/EditStaff</url-pattern>
    </servlet-mapping>
    
    <!-- Delete Staff -->
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    
    <!--ActionRecord-->
    <servlet>
        <servlet-name>RecordAction</servlet-name>
        <servlet-class>controller.RecordAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecordAction</servlet-name>
        <url-pattern>/RecordAction</url-pattern>
    </servlet-mapping>
    
    <!--Search-->
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    
    <!--LogOut-->
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    
    <!--Report-->
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>controller.GenerateReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/GenerateReport</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DateRange</servlet-name>
        <servlet-class>controller.GenerateSalesReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateRange</servlet-name>
        <url-pattern>/DateRange</url-pattern>
    </servlet-mapping>
    
    <!--
        <servlet>
            <servlet-name>ConfirmStaff</servlet-name>
            <servlet-class>Servlets.ConfirmStaffDetails</servlet-class>
        </servlet>
    
        <servlet-mapping>
            <servlet-name>ConfirmStaff</servlet-name>
            <url-pattern>/ConfirmStaffDetails</url-pattern>
        </servlet-mapping>
    -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
