<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>controller.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>controller.ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetails</servlet-name>
        <servlet-class>controller.ViewProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerProfile</servlet-name>
        <servlet-class>controller.ViewCustomerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addShoppingCart</servlet-name>
        <servlet-class>controller.addShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShoppingCart</servlet-name>
        <servlet-class>controller.ViewShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>controller.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCalculate</servlet-name>
        <servlet-class>controller.PaymentCalculate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPayment</servlet-name>
        <servlet-class>controller.ConfirmPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>controller.AddOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/customer/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/customer/ViewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetails</servlet-name>
        <url-pattern>/customer/ViewProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerProfile</servlet-name>
        <url-pattern>/customer/ViewCustomerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addShoppingCart</servlet-name>
        <url-pattern>/addShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShoppingCart</servlet-name>
        <url-pattern>/customer/ViewShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCalculate</servlet-name>
        <url-pattern>/customer/PaymentCalculate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPayment</servlet-name>
        <url-pattern>/customer/ConfirmPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/customer/AddOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
