/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11-Mar-2022, 15:00:09
    Author     : jensienwong
*/

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: "Convergence", sans-serif;
    font-size:20px;
    background-color: #19194d;
}

h1{
    margin: auto;
    margin-bottom: 100px;
    color:yellowgreen;
}
.form-container{
    height: 500px;
    align-content: center;
    justify-content: center;
    display: grid;
}
.form{
    margin: auto;
    position:relative;
    width: 320px;
    display: block;
    height: 80px;
}

.input_Field{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border: 2px solid yellowgreen;
    border-radius: 8px;
    font-family: inherit;
    font-size: inherit;
    color:white;
    outline: none;
    padding: 20px;
    background: none;
}

.input_Field:hover{
    border-color: aquamarine;
}

.input_Field:focus{
    border-color: green;
}

.label_Field{
    position: absolute;
    top: 12.8px;
    left: 16px;
    padding: 0 8px;
    color:yellowgreen;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #19194d;
}

.input_Field:focus~.label_Field,.input_Field:not(:placeholder-shown).input_Field:not(:focus)~.label_Field{
    top: -8px;
    font-size: 14px;
    left: 8px;
    color:yellow;
}
.input_Field:focus~.label_Field{
    color:yellow;
}
.input_Field:not(:placeholder-shown).input_Field:not(:focus)~.label_Field{
    color:yellowgreen;
}

input[type="submit"]{
    width: 90px;
    border-radius: 12px;
    font-family: inherit;
    font-size: 14px;
    padding: 8px;
    float: right;
    cursor: pointer;
}

input[type="submit"]:hover{
    border-color: aquamarine;
}

#showPassword-eye{
    position: absolute;
    font-size: inherit;
    left: 88%;
    top: 13%;
    display: none;
}

.input_Field:not(:placeholder-shown)~#showPassword-eye{
    color:yellowgreen;
    display: inline-block;
    cursor: pointer;
}
